@CHARSET "UTF-8";

.input-control {
	background-color: transparent;
  	border-color: #fff;
  	border-radius: 0px;
  	color: #fff;
  	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
}

.input-control:focus {
	border: 1px solid #42DCA3;
}

.label-control {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: unset;
	text-transform: uppercase;
}

.error {
	color: #b40107;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: unset;
	width: 100%;
}

.errorLabel {
	color: #b40107;
}

.errorInput {
	border: 1px solid #b40107;
}

.errorMessage {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#errorModal {
	color: #000;
}

.modal-footer > .btn-default {
	background-color: #42DCA3;
	border: 1px solid #000;
	color: #000;
}

.modal-footer > .btn-default:hover {
	background-color: #fff;
}

#thankYou {
	display: none;
}
